<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/styles/style.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/home.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/card.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hébergements</title>
</head>

<body>
    <div class="container">
        <h1 class="great-vibes-regular">Sandra & Jérémy</h1>
        <nav class="navbar">
            <ul>
                <li class="nav"><a href="/">Accueil</a></li>
                <li class="nav"><a href="/programme">Programme</a></li>
                <li class="nav"><a href="/plan-acces">Plan d'accès</a></li>
                <li class="nav"><a href="/hebergements">Hébergements</a></li>
                <li class="nav"><a href="#">Cadeau de mariage</a></li>
                <li class="nav"><a href="#">Réponse</a></li>
                <li class="nav"><a href="/contact">Message</a></li>
            </ul>
        </nav>

        <div class="card baskervville-regular">
            <img src="https://static.wixstatic.com/media/352029_c4119b9450e844a7b67c753c2f052c2a~mv2.jpg/v1/fill/w_316,h_212,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/20210108_093803.jpg"
                alt="img-la-cle">
            <h1>Hôtel la clé</h1>
            <p>Climatisation, wifi gratuit, piscine</p>
            <p>7 rue de la Lucque</p>
            <p>34725 St-André-De-Sangonis</p>
            <p>04.67.55.66.38</p>
            <p>A partir de 61€</p>
            <p><a href="https://www.hotelbrasserielacle.com/">Lien Internet</a></p>
        </div>
        <div class="map">
            <iframe width="600" height="450" style="border:0" Loading="lazy" allowfullscreen
                src="https://www.google.com/maps/embed/v1/search?q=7%20Rue%20de%20la%20Lucque%2C%20Saint-Andr%C3%A9-de-Sangonis%2C%20France&key="></iframe>
        </div>
    </div>
</body>

</html>
