<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar">
        <ol>
            <li class="nav"><a href="#">Home</a></li>
            <li class="nav"><a href="#">Programme</a></li>
            <li class="nav"><a href="/admin/login">Admin</a></li>
        </ol>
    </nav>
    <h1>
        <%= message %>
    </h1>
</body>

</html>