<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/home.css">

    <title>Document</title>
</head>

<body>
    <h1>
        Sandra & Jérémy
    </h1>
    <section style="color: #fff;">
        <nav class="navbar">
            <ul>
                <li class="nav"><a href="#">Accueil</a></li>
                <li class="nav"><a href="#">Programme</a></li>
                <li class="nav"><a href="/plan-acces">Plan d'accès</a></li>
                <li class="nav"><a href="#">Hébergements</a></li>
                <li class="nav"><a href="#">A propos</a></li>
                <li class="nav"><a href="#">Réponse</a></li>
                <li class="nav"><a href="#">Message</a></li>
                <li class="nav"><a href="/admin/login">Admin</a></li>
            </ul>
        </nav>
    </section>

    <h2>Sandra et Jérémy se marient dans :</h2>
    <div class="countdown-container">
        <h1 id="countdown"></h1>
    </div>
</body>

<script>
    const countdownTemplate = "%d days, %h hours, %m minutes, %s seconds";
    const endDate = new Date('2024-12-31T00:00:00').getTime(); // TODO: maj date mariage

    //mise a jour du compteur 
    function updateCountdown() {
        const now = new Date().getTime();
        const distance = endDate - now;
        const days = Math.floor(distance / (1000 * 60 * 60 * 24));
        const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);

        const countdown = document.getElementById('countdown');
        countdown.innerHTML = countdownTemplate
            .replace('%d', days)
            .replace('%h', hours)
            .replace('%m', minutes)
            .replace('%s', seconds);
    }
    setInterval(updateCountdown, 1000);
    updateCountdown();
</script>

</html>