<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/styles/style.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/home.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/plan-acces.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="container2">
            <h1 class="great-vibes-regular">Sandra & Jérémy</h1>
            <nav class="navbar">
                <ul>
                    <li class="nav"><a href="/">Accueil</a></li>
                    <li class="nav"><a href="/programme">Programme</a></li>
                    <li class="nav"><a href="/plan-acces">Plan d'accès</a></li>
                    <li class="nav"><a href="/hebergements">Hébergements</a></li>
                    <li class="nav"><a href="#">Cadeau de mariage</a></li>
                    <li class="nav"><a href="#">Réponse</a></li>
                    <li class="nav"><a href="/contact">Message</a></li>
                </ul>
            </nav>
        </div>
        <h1 class="baskervville-regular">Plan d'accès</h1>
        <div class="sides">
            <div class="side-1 baskervville-regular">
                <h2>Mairie d'Olargues</h2>
                <p>Rendez-vous les samedi 5 octobre à ??h??</p>
                <p>34390 Pl. Alexandre Laissac, 34390 Olargues</p>
                <div class="mapContainer slide1"></div>
            </div>

            <div class="side-2 baskervville-regular">
                <h2>Château de Granoupiac</h2>
                <p>Rendez-vous le samedi 5 octobre à 15h30</p>
                <p>Saint Pierre de Granoupiac, 34725 Saint-André-De-Sangonis</p>
                <div class="mapContainer slide2"></div>
            </div>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
        axios.get('/api/google-maps')
            .then(function (response) {
                document.querySelector('.slide1').innerHTML = response.data.side1;
                document.querySelector('.slide2').innerHTML = response.data.side2;
            })
            .catch(function (error) {
                console.error('Erreur lors de la récupération des cartes Google Maps:', error);
            });
    </script>
</div>