<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/styles/style.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap" rel="stylesheet">
    <title>Réponse</title>
</head>

<body>
    <div class="container">
        <div class="container2">
            <h1 class="great-vibes-regular">Sandra & Jérémy</h1>
            <nav class="navbar">
                <ul>
                    <li class="nav"><a href="/">Accueil</a></li>
                    <li class="nav"><a href="/programme">Programme</a></li>
                    <li class="nav"><a href="/plan-acces">Plan d'accès</a></li>
                    <li class="nav"><a href="/hebergements">Hébergements</a></li>
                    <li class="nav"><a href="#">Cadeau de mariage</a></li>
                    <li class="nav"><a href="/reponse">Réponse</a></li>
                    <li class="nav"><a href="/contact">Message</a></li>
                </ul>
            </nav>
        </div>
        <h1>Réponse</h1>
        <div class="reponse-form baskervville-regular">
            <p>Merci de remplir le formulaire de réponse sur <a href="https://docs.google.com/forms/d/e/1FAIpQLScuOJCuLeGGEhF4xomkISjh-D1Oul2HUm-kXuo22dHSnKxMgQ/viewform">ce lien Google Form</a> </p>
        </div>
    </div>
</body>

</html>